

.visitor{
    position: absolute;
    width: 30%;
    height: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    top: 25%;
    left: 25%;
}

.newPost{
    position: absolute;
    width: 30%;
    height: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    top: 25%;
    left: 60%;
}

.newInquiry{
    position: absolute;
    width: 30%;
    height: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    top: 60%;
    left: 25%;
}

.comments{
    position: absolute;
    width: 30%;
    height: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    top: 60%;
    left: 60%;
}