

.customerMent{
    position: relative;
    width: 27%;
    text-align: center;
    margin: auto;
    color: #918F8F;
    top: 5rem;
    font-size: 1.1rem;
}

.searchBar{
    position: relative;
    margin: auto;
    top: 7rem;
    width: 30%;
    height: 4rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    border-radius: 20px;
}

.searchText{
    position: relative;
    font-size: 1.5rem;
    width: 80%;
    top: 0.7rem;
    border: none;
    left: 5%;
    background-color: white;
}
.searchText::placeholder{
    color: #b0b0b0;
}

.serchBtn{
    position: relative;
    left: 10%;
    top: 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.searchUl {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    width: 100%;
    justify-content: center;
    background-color: white;
    height: 100%;
}
.searchUl li {
    margin: 6%;
    font-weight: bolder;
}
.searchUl li:hover{
    color: #008BDA;
    text-decoration: underline;
    text-decoration-color: #008BDA;
}

.searchMenu {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
    position: absolute;
    top: 35%;
    left: 15%;

}

/*  기본 안내 css  */
.announcement {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
    position: absolute;
    top: 45%;
    left: 15%;
}

/*  공지사항 css */
.notice{
    background-color: white;
    width: 70%;
    height: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
    position: absolute;
    top: 45%;
    left: 15%;
    flex-direction: column;
    display: flex; /* 요소들을 행으로 배치하기 위해 Flexbox 사용 */
    align-items: center; /* 수평 방향 가운데 정렬 */
    
}
/* 1대1 문의 css */
.inquiry {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
    position: absolute;
    top: 45%;
    left: 15%;
}




.noticeItem {
  width: 90%;
  border-bottom: 1px solid #d2d1d1;
  border-radius: 5px;
  margin-top: 5px;
  align-items: center;
  
}

.allNotice {
  border: none;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}


.noticeTitle {
  padding: 20px 15px;
  font-size: 1.5rem;
  text-align: left;
  background-color: white;
  font-weight: bold;
}


.noticeContent {
  display: none; /* 기본적으로 숨겨진 상태 */
  
}

.noticeContent.show {
  display: block; /* show 클래스가 적용되면 보여짐 */
  font-size: 1.3rem;
  text-align: left;
  padding: 10px 30px;
  background-color: white;
}

.noticeContent.hide {
  display: none; /* hide 클래스가 적용되면 숨겨짐 */
}

.allNotice.show{
  color: #008BDA;
}
p{
  background-color: white;
  color: black;
}