@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
}

.mainDiv {
    background-color: #F7F9FB;
    width: 70%;
    position: absolute;
    height: 75%;
    align-items: center;
    left: 15%;
    top: 13%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.new1 {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    border-radius: 20px;
    width: 18%;
    height: 40%;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.new1:hover {
    border: 2px solid #008BDA;
}

.newsImage {
    position: relative;
    bottom: 10%;
    margin: 10px;
    top: 2%;
}

.newsText {
    background-color: white;
    position: relative;
    height: 30%;
    font-size: 1rem;
    overflow-block: hidden;
    width: 90%;
    /*align-content: center;*/
    text-align: center;
    margin: auto;
    top: 1%;
}

.detailsNewsDiv {
    background-color: #F7F9FB;
    width: 60%;
    position: absolute;
    height: 75%;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    /*justify-content: space-evenly;*/
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
}

.selectedNewsDiv {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
    width: 70%;
    height: 100%;
    border: none;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.selectedNewsDiv::-webkit-scrollbar {
    width: 16px;
}

.selectedNewsDiv::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.selectedNewsDiv::-webkit-scrollbar-thumb {
    background-color: rgba(0, 139, 218, 0.6);
    border-radius: 10px;
    border: 5px solid #ffffff;
}

.recommandNewsDiv {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
    width: 25%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.detailsNewsImg {
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    height: auto;
    /*border-radius: 30px;*/
}

.detailsNewsTitle {
    background-color: white;
    font-weight: bold;
    font-size: 2.2rem;
    position: relative;
    top: 2%;
    text-align: left;
    justify-content: center;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.detailsNewsDescription {
    background-color: white;
    font-size: 100%;
    position: relative;
    top: 10%;
    text-align: left;
    white-space: pre-line;
    /*justify-content: center;*/
    display: flex;
    margin-right: 12.5%;
    margin-left: 12.5%;
}

.detailsNewsLinkText {
    background-color: white;
    font-size: 25px;
    position: relative;
    top: 15%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

.detailsNewsLink {
    background-color: white;
    text-decoration-line: none;
    /*link: #F7F9FB;*/
    /*active: #F7F9FB;*/
}

a:link,
:visited {
    color: dodgerblue;

}

a:hover {
    color: #008BDA;
}

.newsCommentDiv {
    /* background-color: #ffffff; */
    position: relative;
    top: 20%;
    margin-right: 12.5%;
    margin-left: 12.5%;
}

.commentHead {
    border-top: 1px solid #ddd;
    background-color: #ffffff;
}

.commentCount {
    padding-left: 2px;
    background-color: #ffffff;
    text-decoration: none;
    /* 기본 링크 스타일 제거 */
    color: inherit;
    /* 부모 엘리먼트의 색상 상속 */
}

.commentCount:hover {
    text-decoration: none;
    /* 호버 시 텍스트 밑줄 제거 */
    color: inherit;
    /* 호버 시 텍스트 색상 상속 */
}

.commentForm {
    background-color: #ffffff;
}

.commentInput {
    background-color: #ffffff;
    width: 87%;
    height: 2.2rem;
    margin-top: 10px;
    border: 1px solid #ddd;
    margin-right: 2px;
    padding-right: 9px;
    border-radius: 5px;
}

.commentRegistButton {
    background-color: #76c6f5;
    width: 9%;
    height: 2.4rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.commentRegistButton:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

.commentBox {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    /* margin-bottom: 10px; */
}

.commentEmail {
    font-weight: bold;
    font-size: 13px;
}

.commentDate {
    font-size: 12px;
    color: #999;
}

.commentContent {
    font-size: 13px;
    line-height: 19px;
}

.findReplyList {
    border-bottom: 1px solid #ddd;
    margin-left: 5%;
    margin-right: 5%;
}

.replyButton {
    background-color: #fff;
    border: none;
}

.replyEmail {
    /* margin-left: 5%; */
    font-weight: bold;
    font-size: 13px;
    background-color: #F7F9FB;
}

.replyDate {
    /* margin-left: 5%; */
    font-size: 12px;
    color: #999;
    background-color: #F7F9FB;
}

.replyContent {
    /* margin-left: 5%; */
    font-size: 13px;
    line-height: 19px;
    background-color: #F7F9FB;
}

.replyRegist {
    margin-left: 5%;
}

.replyInput {
    background-color: #fff;
    width: 83%;
    height: 2.2rem;
    margin-top: 5px;
    border: 1px solid #ddd;
    margin-right: 2px;
    padding-left: 9px;
    border-radius: 5px;
}

.replyRegistButton {
    background-color: #76c6f5;
    width: 9%;
    height: 2.3rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.replyRegistButton:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

.commentDeleteButton {
    position: relative;
    left: 85%;
}

.commentNotifyButton {
    position: relative;
    left: 85%;
}